<ion-view view-title="About Us" name="select-view">
    <ion-content >
	<ion-list>
	    <div class="list card">
            <div class="col"><img  class="you" src="img/DSC_5212.JPG" style="width:312px;" ></div>
			<div style="text-align:center;font-size:11px;">
				  Cloudlogic school offers world class Infrastructural facilities with state-of-the-art laboratories for sciences, language lab, and a massive air conditioned computer lab with internet facilities. Separate hostels for both boys and girls which are home away from home, Swimming pool, Horse riding, Foot ball, enhance the child’s individual talents.
			</div>
			
         </div>
		 <div class="list card">
            <div class="col">
					 <h5 style="color:red;"> Affiliation</h5>
			<img  class="img-responsive" src="img/campus.jpg" style="width:289px;height:145px;"> 
			<!-- <img  class="you" src="img/21bgdiv-NHschool.auro_G3AVK83P.1+24BGN_AUROBINDO.jpg" style="width:154px;height:145px;">  -->
			</div>
			<div style="text-align:center;font-size:11px;">  Cloudlogic School is affiliated with the Central Board of Secondary Education, Delhi and follows its syllabi and curriculum prescribed by the Board. However the School takes every step to enrich the curriculum with a world class Scholastic and Non Scholastic input through every available means. 
			</div>
		
         </div>
         <div class="list card">
            <div class="col">
			 <h5 style="color:red;">  Administration</h5>
			 <img  class="you" src="img/ex-hobsons-dest.png" style="width:289px;height:145px;"> 
			<!-- <img  class="you" src="img/1012445_orig.jpg" style="width:154px;height:145px;">  -->
		
			 <div style="text-align:center;font-size:11px;">   Cloudlogic School is affiliated with the Central Board of Secondary Education, Delhi and follows its syllabi and curriculum prescribed by the Board. However the School takes every step to enrich the curriculum with a world class Scholastic and Non Scholastic input through every available means. 
			</div>
				</div>
         </div>
		  <div class="list card">
            <div class="col">
			<img  class="you" src="img/facilities_play_ground1.jpg" style="width:143px;height:145px;"> 
			<img  class="you" src="img/gallery_playground.jpg" style="width:143px;height:145px;"> 
			</div>
         </div>
         
	</ion-list>
    </ion-content>
</ion-view>