<ion-view view-title="">
  <ion-content>
     	<div class="card">
	  	<div class="list">
	  	 <div class="item item-divider" style="background-color: white;border-bottom: 1px solid #387EF5;color: tomato">
			    Attendance Details
			  </div>
	  		<div style="border-bottom: 1px solid #DDDDDD" class="row">
			    <div class="col col-20">
			    	<img width="45px" height="" style="padding-top: 6px" src="https://cdn3.iconfinder.com/data/icons/banking-finance-ii-monocolor-white-circle-multicol/2048/Identity_Card-512.png">
			    </div>
			    <div class="col col-80">
			    	<p style="color: #387EF5">Total Working Days</p>
			    	<p style="font-size: 16px;line-height: 11px">24</p>
			    </div>
			   </div>
			   <div style="border-bottom: 1px solid #DDDDDD;padding-top: 12px" class="row">
			    <div class="col col-20">
			    	<img width="45px" height="" style="padding-top: 6px" src="https://cdn0.iconfinder.com/data/icons/flaturici-set-3/512/id-512.png">
			    </div>
			    <div class="col col-80">
			    	<p style="color: #387EF5">No.of Present Day</p>
			    	<p style="font-size: 16px;line-height: 11px">22</p>
			    </div>
			   </div>
			   <div style="border-bottom: 1px solid #DDDDDD;padding-top: 12px" class="row">
			    <div class="col col-20">
			    	<img width="45px" height="" style="padding-top: 6px" src="https://s-media-cache-ak0.pinimg.com/favicons/fd32f4c1dba8e18a0406739135de6e956ff7e64a7de1f17e7ae9f4e4.ico?64d6edb20cc500a5505ff5ecc83e6c15">
			    </div>
			    <div class="col col-80">
			    	<p style="color: #387EF5">No.of Absent Day</p>
			    	<p style="font-size: ;line-height: 11px">02</p>
			    </div>
			   </div>
			   <div style="padding-top: 12px" class="row">
			    <div class="col col-20">
			    	<img width="45px" height="" style="padding-top: 6px" src="http://icons.iconarchive.com/icons/sicons/basic-round-social/512/vkontakte-icon.png">
			    </div>
			    <div class="col col-80">
			    	<p style="color: #387EF5">Batch Name</p>
			    	<p style="font-size: 16px;line-height: 11px">A Batch</p>
			    </div>
			   </div>
		  </div>
	</div>
  </ion-content>
</ion-view>
