
<ion-view view-title="Home">
<style type="text/css">
.col.card.style:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
.anchorTag {
  text-decoration: none;
}
.dashboardIcons{
  width:60px;height:60px;
}
.rowData{
  padding-bottom: 0px;margin-top: -23px !important;
}
</style>
  <ion-content>
      <div class="row">
        <div class="col card style">
          <a class="anchorTag" href="#" ui-sref="app.viewProfile">
          <center>
            <img class="dashboardIcons" src="img/name.png">
          </center>
          <center><a class="anchorTag">Profile</p></center>
          </a>
        </div>
        <div class="col card style">
          <a class="anchorTag" href="#" ui-sref="app.profile">
          <center>
            <img class="dashboardIcons" src="img/name.png">
          </center>
          <center><a class="anchorTag">Profile 1</a></center>
          </a>
        </div>
        <div class="col card style">
          <a class="anchorTag" href="#">
          <center>
            <img class="dashboardIcons" src="img/timetable.png">
          </center>
          <center><a class="anchorTag">Time Table</a></center>
          </a>
        </div>
      </div>
      <div class="row rowData">
        <div class="col card style">
          <a href="#" class="anchorTag">
          <center>
            <img class="dashboardIcons" src="img/calendar-icon.png">
          </center>
          <center><a class="anchorTag">Calendar</a></center>
          </a>
        </div>
        <div class="col card style">
          <a href="#" class="anchorTag" >
          <center>
            <img class="dashboardIcons" src="img/GALLERY_ICON.png">
          </center>
          <center><a class="anchorTag">Galary</a></center>
          </a>
        </div>
        <div class="col card style">
          <a href="#" class="anchorTag" >
          <center>
            <img class="dashboardIcons" src="img/exam.png">
          </center>
          <center><a class="anchorTag">Exam </p></center>
          </a>
        </div>
      </div>
      <div class="row rowData">
        <div class="col card style">
          <a ui-sref="app.Fees" href="#" class="anchorTag" >
          <center>
            <img class="dashboardIcons" src="img/Tuition Infographic.gif">
          </center>
          <center><a class="anchorTag">Fees</a></center>
          </a>
        </div>
        <div class="col card style">
          <a href="#" class="anchorTag" >
          <center>
            <img class="dashboardIcons" src="img/quiz_icon.png">
          </center>
          <center><a class="anchorTag">Assignment</a></center>
          </a>
        </div>
        <div class="col card style">
          <a href="#" class="anchorTag" ui-sref="app.Repository">
          <center>
            <img class="dashboardIcons" src="img/reciprocity-icon.png">
          </center>
          <center><a class="anchorTag">Reciprocity</a></center>
          </a>
        </div>
      </div>
  </ion-content>
</ion-view>

