<ion-view view-title="">
  <ion-content>
  <style type="text/css">
	  .headerTitle{
	  	background-color: #F5F5F5;
	  }
	  .Titleclass{
	  	background-color: white;border-bottom: 0px solid #387EF5;color: #387EF5
	  }
	  .item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
/*	    border-radius: 56%;
	    height: 100%;
	    left: 84px;
	    max-height: 89px;
	    max-width: 89px;
	    position: absolute;
	    top: 39px;*/
	    border-radius: 56%;
	    height: 100%;
	    left: 84px;
	    max-height: 89px;
	    max-width: 89px;
	    position: absolute;
	    top: 39px;
}
.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
	    /*min-height: 85px;
	    padding-left: 87px;
	    padding-top: 138px;*/
	    min-height: 85px;
	    padding-left: 87px;
	    padding-top: 138px;

}
  </style>
<div class="card">
  <div class="item item-divider">
    First Term
  </div>
  <div class="list">
  <a class="item item-icon-left" href="#">
    <!-- <i class="icon ion-email"></i> -->
    <i><img src="http://ionicframework.com/img/docs/venkman.jpg"></i>
    Check mail
  </a>
  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-chatbubble-working"></i>
    Call Ma
    <i class="icon ion-ios-telephone-outline"></i>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-mic-a"></i>
    Record album
    <span class="item-note">
      Grammy
    </span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Friends
    <span class="badge badge-assertive">0</span>
  </a>
</div>
</div>
<div class="list">
    <a class="item item-avatar" href="#">
      <img src="http://ionicframework.com/img/docs/venkman.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
</div>
  </ion-content>
</ion-view>