<!-- <ion-view view-title="Results">
  <ion-content>
    <h1>Results</h1>
  </ion-content>
</ion-view>
 -->

 <ion-view view-title="Results">
  <ion-content>
  <div class="row responsive-sm">
  <div class="col col-50">
  	

  	
  </div>
</div>
 	<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Last Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>
</div>
  </ion-content>
</ion-view>
