<ion-header-bar class="headerborder" >
	<div class=" home-head2 " ng-click="goback();">
		<i class="ion ion-arrow-left-c back-icon"></i>
    </div>
    <div class="home-head2">
		<p  class="headertitle">Account Information</p>
	</div>
</ion-header-bar>

<ion-view view-title="" style="background-color: #F5F5F5">
  <ion-content>
  	<div class="card">
	  	<div class="list">
	  	 <div class="item item-divider" style="background-color: white;border-bottom: 1px solid orange;color: black">
			    Profile Details
			  </div>
	  		<div style="border-bottom: 1px solid #DDDDDD" class="row">
			    <div class="col col-20">
			    	<img width="45px" height="" style="padding-top: 6px" src="img/stuName.png">
			    </div>
			    <div class="col col-80">
			    	<p style="color: #387EF5">Candidate Name</p>
			    	<p style="font-size: 16px;line-height: 11px">Siva</p>
			    </div>
			   </div>
			   <div style="border-bottom: 1px solid #DDDDDD;padding-top: 12px" class="row">
			    <div class="col col-20">
			    	<img width="45px" height="" style="padding-top: 6px" src="img/id-512.png">
			    </div>
			    <div class="col col-80">
			    	<p style="color: #387EF5">Id Number</p>
			    	<p style="font-size: 16px;line-height: 11px">AD15244545</p>
			    </div>
			   </div>
			   <div style="border-bottom: 1px solid #DDDDDD;padding-top: 12px" class="row">
			    <div class="col col-20">
			    	<img width="45px" height="" style="padding-top: 6px" src="img/class.ico">
			    </div>
			    <div class="col col-80">
			    	<p style="color: #387EF5">Course Name</p>
			    	<p style="font-size: ;line-height: 11px">Bsc Computer Science</p>
			    </div>
			   </div>
			   <div style="padding-top: 12px" class="row">
			    <div class="col col-20">
			    	<img width="45px" height="" style="padding-top: 6px" src="img/batch.png">
			    </div>
			    <div class="col col-80">
			    	<p style="color: #387EF5">Batch Name</p>
			    	<p style="font-size: 16px;line-height: 11px">A Batch</p>
			    </div>
			   </div>
		  </div>
	</div>
  </ion-content>
</ion-view>



<!-- <ion-header-bar class="headerborder" >
	<div class=" home-head2 " ng-click="goback();">
		<i class="ion ion-arrow-left-c back-icon"></i>
    </div>
    <div class="home-head2">
		<p  class="headertitle">Account Information</p>
	</div>
</ion-header-bar>
<ion-view>
    <ion-content class="bgnew">
		<div class="card">
			<div class="item itemleft item-avatar">
				<img src="https://cdn2.iconfinder.com/data/icons/the-data-visualisation-catalogue-search-icon-set/170/part_to_a_whole-512.png" class="item-Image">
				<div class="ItemlineHead cardContent">Account Number</div>
				<div class="ItemlineValueText cardContent">{{account_information.ACC_NUM}}</div>
			</div>
			<div class="item item-avatar itemleft">
				<img src="img/item/plan.png" class="item-Image">
				<div class="ItemlineHead cardContent">Plan</div>
				<div class="ItemlineValueText cardContent">{{account_information.PLAN_NAME}}</div>
			</div>
			<div class="item item-avatar itemleft">
				<img src="img/item/dateicon.png" class="item-Image">
				<div class="ItemlineHead cardContent">HSA Effective Date</div>
				<div class="ItemlineValueText cardContent">{{account_information.EFFECTIVE_DATE}}</div>
			</div>
			<div class="item item-avatar itemleft">
				<img src="img/item/account_balance.png" class="item-Image">
				<div class="ItemlineHead cardContent">Account Balance</div>
				<div class="ItemlineValueText cardContent">{{account_information.ACCT_BALANCE | currency}}</div>
			</div>
		</div>
		<div class="card">
			<div class="item ItemLinehr">
				<span class="ItemHeadLine">Total Contributions</span>
			</div>
			<div class="item item-avatar itemleft  ItemLinehr item-text-wrap">
				<img src="img/item/Total-contribution.png" class="item-Image1">
				<div class="ItemlineHead cardContent">Total Contributions for 2016</div>
				
				<div class="ItemlineValueText cardContent">{{total_contributions.CURRENT_YR_CONTRB| currency}}</div>
			</div>
			<div class="item item-avatar itemleft  item-text-wrap">
				<img src="img/item/Allowable-contributions.png" class="item-Image1">
				<div class="ItemlineHead cardContent">Allowable Contributions Remaining for 2016</div>
				<div class="ItemlineValueText cardContent">{{total_contributions.CONTRB_LIMIT  | currency}}</div>
			</div>
			<div class="item item-avatar itemleft item-text-wrap">
				<img src="img/item/Total-disburesment.png" class="item-Image1">
				<div class="ItemlineHead cardContent">Total Disbursement for 2016</div>
				<div class="ItemlineValueText cardContent">{{total_contributions.TOTAL_DISB_AMOUNT | currency}}</div>
			</div>
		</div>
		
  </ion-content>
</ion-view>