<ion-view view-title="View Profile">
	<style>
	<!-- @media(max-width: 418px) { -->
		<!-- .list >.item > h2{ -->
		<!-- } -->
	<!-- } -->
	@media(min-width: 448px) {
		.list >.item > h2{
			margin-left:110px!important;
			margin-top: -71px !important;
		}
	}
	<!-- .item{ -->
		<!-- background-color:#0D6FAB!important; -->
	<!-- } -->
	<!-- .icolr{ -->
		<!-- color:#4A366B!important; -->
	<!-- } -->
	.textclr{
	color:black!important;
	}
	.card {
	  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
	
	}

	<!-- .card:hover { -->
	  <!-- box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); -->
	<!-- } -->
	
	</style>
	 <ion-content>
		<div class="list card" style="">
		    <a class="item item-avatar" style="background-color:#0D6FAB">
			<!-- <a class="item item-avatar" > -->
				<img style="margin-left:8px;;" src="img/graduate-member.jpg">
				 
				<h2 class="title user" style="color: white;margin-left:-11px;"> Faizer Ahamed</h2>
		    </a>
			
		  <a href="#" class="item item-icon-left">
			<i class="icon ion-compose icolr"></i>
			<span class="icolr">Roll No </span> <p class="textclr"> 1002</p>
		  </a>
		  <a href="#" class="item item-icon-left">
			<i class="icon ion-university icolr"></i>
			<span class="icolr">Class Name </span><p class="textclr"> A - SEC</p>
		  </a>
		  <a href="#" class="item item-icon-left">
			<i class="icon ion-ribbon-b"></i>
			<span class="icolr">Admission Number </span><p class="textclr"> DF00521</p>
		  </a>
		  </div>
		  <div class="list card">
		   <a class="item " >
			<Span class="textclr">Personal Details</span>
		   </a>
		  <a href="#" class="item item-icon-left">
			<i class="icon ion-ios-people icolr"></i>
			<span class="icolr">Gender <p class="textclr"> Male</p>
		  </a>
		  <a href="#" class="item item-icon-left">
			<i class="icon ion-man"></i>
			<span class="icolr">Father's Name <p class="textclr"> Ahamed</p>
		  </a>
		  <a href="#" class="item item-icon-left">
			<i class="icon ion-woman"></i>
			<span class="icolr">Mother's Name <p class="textclr">sha</p>
		  </a>
		  <a href="#" class="item item-icon-left">
			<i class="icon ion-network"></i>
			<span class="icolr">Blood group <p class="textclr"> A+</p>
		  </a>
		</div>
		<div class="list card">
		   <a class="item " >
			<Span class="textclr">Contact Details</span>
		   </a>
		    <a href="#" class="item item-icon-left">
			<i class="icon ion-social-buffer"></i>  
			<span class="icolr">Address Line </span><p class="textclr"> 23/02 cloudlogic, st. street,600403 </p>
		  </a>
		   <a href="#" class="item item-icon-left">
			<i class="icon ion-closed-captioning"></i>
			<span class="icolr">City</span><p class="textclr"> pondicherry</p>
		  </a>
		   <a href="#" class="item item-icon-left">
			<i class="icon ion-android-map"></i>
			<span class="icolr">State</span><p class="textclr"> pondicherry</p>
		  </a>
		   <a href="#" class="item item-icon-left">
			<i class="icon ion-email icolr"></i>
			<span class="icolr">E-mail </span><p class="textclr"> ruby@gmail.com</p>
		  </a>
		   <a href="#" class="item item-icon-left">
			<i class="icon ion-iphone icolr"></i>
			<span class="icolr">Phone </span><p class="textclr"> 999777889</p>
		  </a>
		</div>
   
  </ion-content>
</ion-view>
